body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.heading {
    font-size: 3.6rem;
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom: 8rem;

    @include md {
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
}

.para {
    font-size: 1.4rem;
    font-weight: 400; 
    color: $black;
    cursor: pointer;
    transition: all .4s;

    &:hover {
        color:$red;
    }
}

.container {
    max-width: 1170px;
    padding: 0 1.5rem;
    margin: auto;
}